@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: var(--font-inter), sans-serif;
}
body{
  background-color: #2C3333;
}
.shimmer {
  transition: box-shadow 0.1s linear;
  box-shadow: 0 0 0 0 transparent;
}

.shimmer:hover {
  box-shadow: 0 0 0 4px #395B64;
} /* test */
html {
  scroll-behavior: smooth;
}
.post-content pre {
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}
.post-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
